<footer>
	<div class="container-fluid">
		<div class="row">
			<div id="brand" class="col-12 col-sm-6">
				<img src="/images/shared/logo_footer.svg" alt="McNas Glass" />

				<ul>
					<li>
						<a class="nav-link" href="#about">About</a>
					</li>
					<li>
						<a class="nav-link" href="#services">Services</a>
					</li>
					<li>
						<a class="nav-link" href="#contact">Contact</a>
					</li>
				</ul>
			</div>

			<div id="contact-info" class="col-12 col-sm-6 text-end">
				<h5>Contact</h5>

				<ul>
					<li>
						<i class="fas fa-phone"></i>&nbsp;&nbsp;
						<a class="nav-link" href="tel:61449966216">
							0449 966 216
						</a>
					</li>
					<li>
						<i class="far fa-envelope"></i>&nbsp;&nbsp;
						<a class="nav-link" href="mailto:mcnasglass@gmail.com">mcnasglass@gmail.com</a>
					</li>
					<li class="social-links">
						<a href="https://www.facebook.com/mcnasglass" alt="facebook" target="_blank">
							<span class="font-awesome">
								<i class="fab fa-facebook-f"></i>
							</span>
						</a>

						<a href="https://www.instagram.com/mcnasglass/" alt="instagram" target="_blank">
							<span class="font-awesome">
								<i class="fab fa-instagram"></i>
							</span>
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="copyright">
					© 2023 McNas Glass
				</div>
			</div>
		</div>
	</div>
</footer>