@inherits SharedComponentBase

<div class="container-fluid g-0">
	<nav class="navbar navbar-expand-lg bg-primary">
		<div class="container">
			<a class="navbar-brand order-1" href="/" @onclick="(() => ToggleNavMenu(true))">
				<img src="/images/shared/logo-small.png" class="d-block d-lg-none" alt="McNa's Glass">
				<img src="/images/shared/logo-header.svg" class="d-none d-lg-block" alt="McNa's Glass">
			</a>

			<button class="navbar-toggler @NavBarToggler order-3" @onclick="(() => ToggleNavMenu(false))">
				<span class="icon-bar top-bar"></span>
				<span class="icon-bar middle-bar"></span>
				<span class="icon-bar bottom-bar"></span>
			</button>

			<div class="navbar-collapse order-3 @NavBarCollapse" @onclick="(() => ToggleNavMenu(false))">
				<ul class="navbar-nav">
					@foreach (MenuItem menuItem in MenuItems)
					{
						<li class="nav-item">
							<a class="nav-link" href="@menuItem.Url">@menuItem.Name</a>
						</li>
					}
				</ul>
			</div>

			<ul class="socials order-2 order-lg-3">
				<li>
					<a href="https://www.facebook.com/mcnasglass" alt="facebook" target="_blank">
						<span class="font-awesome">
							<i class="fab fa-facebook-f"></i>
						</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/mcnasglass/" alt="instagram" target="_blank">
						<span class="font-awesome">
							<i class="fab fa-instagram"></i>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>

@code
{
	private bool collapseNavMenu = true;
	private string navBarToggler;
    private string navBarCollapse;

	public string NavBarToggler
	{
		get
		{
			if (collapseNavMenu == true)
				return "collapsed";
			else
				return null;
		}

		set
		{
			navBarToggler = value;
		}
	}

	public string NavBarCollapse
	{
		get
		{
			if (collapseNavMenu == true)
				return "collapse";
			else
				return null;
		}

		set
		{
			navBarCollapse = value;
		}
	}

	private List<MenuItem> MenuItems = new List<MenuItem>();

	protected override async Task OnInitializedAsync()
	{
		try
		{
			MenuItems = await HttpClient.GetFromJsonAsync<List<MenuItem>>("/data/nav.json");
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex.ToString());
		}
	}

    private void ToggleNavMenu(bool homeLink)
    {
		if (!homeLink)
       		collapseNavMenu = !collapseNavMenu;
		else
			collapseNavMenu = true;
    }
}